<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whatsdue.app" version="2.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WhatsDue</name>
    <description>
        A simple app that tells you what's due for all your courses.
    </description>
    <author email="dan@whatsdueapp" href="http://whatsdueapp.com">
        WhatsDue
    </author>
    <access origin="*" />
   <!-- <access origin="http://192.168.1.100"/>
    <access origin="http://*.whatsdueapp.com"/>
    <access origin="https://*.whatsdueapp.com"/>-->
    
    <access origin="mailto:*" launch-external="yes"/>
    <preference name="Fullscreen" value="false" />

    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="DisallowOverscroll" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="disallowOverscroll" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000"/>
    <preference name="webviewbounce" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="LoadUrlTimeoutValue" value="30000"/>
        
    <icon src="www/res/icon.png" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    
   
    
    
    <feature name="Custom URL scheme">
      <param name="id" value="cordova-plugin-customurlscheme" />
      <param name="url" value="https://github.com/EddyVerbruggen/LaunchMyApp-PhoneGap-Plugin.git" />
      <variable name="URL_SCHEME" value="whatsdue" />
    </feature>
    
    
    
</widget>
