<div id="parent-student">
    <p>
        I am a
    </p>
    <div class="buttons">
        <a {{action "setRole" "student"}} class="box square double {{studentActive}}">
            Student
        </a>
        <a {{action "setRole" "parent"}} class="box square double {{parentActive}}">
            Parent
        </a>
    </div>
</div>

