source/bower_components
source/bower_components/*
source/node_modules
source/node_modules/*
source/dist
source/dist/*
source/tmp
source/tmp/*
cordova/platforms
cordova/platforms/*
cordova/plugins
cordova/plugins/*

*tmp/*
*.idea
