/* Main Menu */
@menuAnimationTime: 300ms;
.menuAnimate{
  transition: transform @menuAnimationTime ease;
  -webkit-transition:-webkit-transform @menuAnimationTime ease;
}

.menuOpen{
    height: 90vh;
    #main{
      height: 90vh;
      overflow: hidden;
      opacity: 0;
    }
  #menu{
    -webkit-transform: translate3d(0,0,0);
  }
}

#main{
  transition: opacity @menuAnimationTime ease;
  -webkit-transition:opacity @menuAnimationTime ease;
  opacity: 1;
}
#main.loading{
  opacity: 0;
}

#menu{
  background-color: @backgroundColor;
  overflow-y: visible;
  width: 100vw;
  height: 90vh;
  position: absolute;
  -webkit-transform: translate3d(-100vw,0,0);
  z-index: 10;
  ul {
    li {
      list-style: none;
      padding: 20px;
      height: 25px;
      font-size: 25px;
      color: #323232;
      border-bottom: 1px solid #d6d6d6;

      > div {
        display: inline-block;
        width: 35px;
        border-right: 1px solid #9d9d9d;
      }
      img {
        max-height: 17px;
        max-width: 17px;
        text-align: center;
      }

      span {
        height: 20px;
        padding-left: 10px;
      }

      span.count {
        float: right;
        color: #f1544d;
      }
    }
  }
}



