<div id="application-error">
    <div class="inner">
        <img class="main-logo" src="assets/img/logo-text.png">
        <p>
            Are you connected to the internet?
        </p>
        <img {{action 'checkConnection'}} class="cloud" src="assets/img/clouds.png">
        <p>
            All your assignments are synced with the cloud, so you need to be
            online to access them.
        </p>
    </div>
</div>