<div id="newAssignments">
    <nav>
        {{#link-to 'assignments.due' class="due" tagName="div"}}
                What's Due
            <span class="badge square black">
                {{totalDue}}
            </span>
        {{/link-to}}

        <div class="vertical-separator white"></div>

        {{#link-to 'assignments.over-due' class="overdue" tagName="div"}}
            Overdue
            <span class="badge square black">
                {{totalOverdue}}
            </span>
        {{/link-to}}
    </nav>
    <div id="newAssignments">
        {{outlet}}
    </div>
    {{#unless stuffDue}}
        <div class="static-content nothing-due {{stuffDue}}">
            <img src="assets/img/thumbs-up.png">
            <h2 class="centered">
                Looks like you've got nothing due
            </h2>
        </div>
    {{/unless}}
</div>