<div id="completedAssignments">
    <div class="assignments-list">
        {{#each filteredData as |assignment|}}
            {{removeable-card
                item=assignment
                title=assignment.assignment_name
                text=assignment.course_id.course_name
                icon="back"
                remove='unRemoveAssignment'
            }}
        {{/each}}
    </div>
</div>