<div id="completedAssignments">

    {{#if filteredData}}
        <div class="assignments-list">
            {{#each filteredData as |assignment|}}
                {{removeable-card
                    item=assignment
                    title=assignment.assignment_name
                    text=assignment.course_id.course_name
                    icon="back"
                    remove='unRemoveAssignment'
                }}
            {{/each}}
        </div>
    {{else}}
        <div class="static-content">
            <p>
                You have no completed assignments.
            </p>
            <p>
                Tap on an assignment and mark as done to complete it.
            </p>
        </div>

    {{/if}}
</div>