<div class="courses loaded">
    {{#each model as |course|}}
        {{removeable-card
            item=course
            title=course.course_name
            text=course.instructor_name
            icon="X"
            remove='removeCourse'
        }}
    {{/each}}
    <div id="addCourse">
        <button {{action 'addCourse' course_code}}  class="{{disabled}} fastAnimate">Join</button>
        {{input type="text" value=course_code  maxlength="6" placeholder="Course Code"  class="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
    </div>
    <p class="triangle-isosceles topleft hidden bubble">
        Enter your unique class code to join<br>
        If you don't have one, ask your teacher
    </p>
</div>