.infinity-loader{
  &.reached-infinity{
    display: none;
  }
  .in-viewport{
    height: 100px;
    .fa{
      left: 50%;
      display: inline-block;
      position: absolute;
      margin-left: -25px;
      margin-top: 25px;
      font-size: 50px;
    }
  }
}
