<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whatsdue.app" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="loglevel" value="DEBUG" />
    <feature name="Keyboard">
        <param name="android-package" value="com.ionic.keyboard.IonicKeyboard" />
        <param name="onload" value="true" />
    </feature>
    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.plugin.datepicker.DatePickerPlugin" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <feature name="Whitelist">
        <param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
        <param name="onload" value="true" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <feature name="PushNotification">
        <param name="android-package" value="com.adobe.phonegap.push.PushPlugin" />
    </feature>
    <feature name="BranchDevice">
        <param name="android-package" value="io.branch.BranchDevice" />
        <param name="onload" value="true" />
    </feature>
    <icon density="ldpi" src="www/res/android/ldpi.png" />
    <icon density="mdpi" src="www/res/android/mdpi.png" />
    <icon density="hdpi" src="www/res/android/hdpi.png" />
    <icon density="xhdpi" src="www/res/android/xhdpi.png" />
    <name>WhatsDue</name>
    <description>
        A simple app that tells you what's due for all your courses.
    </description>
    <author email="dan@whatsdueapp" href="http://whatsdueapp.com">
        WhatsDue
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="mailto:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="disallowOverscroll" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="webviewbounce" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <icon src="www/res/icon.png" />
    <access origin="http://192.168.1.100" />
    <access origin="http://*.whatsdueapp.com" />
    <access origin="https://*.whatsdueapp.com" />
</widget>
