<div id="assignments-due">
    <div class="arrow-up"></div>
    {{#each groupedCards as |day|}}
        <div class="day-divider">{{day.value}}</div>
            {{#each day.items as |assignment|}}
                <div>
                    {{assignment-card assignment=assignment toggleModal='toggleModal' removeAssignment='removeAssignment'}}
                </div>
            {{/each}}
    {{/each}}
    {{#infinity-loader infinityModel=model}}
        <div class="in-viewport">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    {{/infinity-loader}}
</div>
